<div class="nav-container">
  <a id="top"></a>
  <nav class="fixed outOfSight scrolled">
    <div class="nav-bar">
      <div class="module left" style="padding-top: .25em;">
        <a href="/">
          <h5 class="uppercase" id="home-header"><strong>Down to Earth Dog Lady</strong></h5>
          <!-- <img class="logo logo-dark" alt="Down to Earth Dog Lady" src="/img/black-logo2.png" /> -->
        </a>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">
            <li class="<%= @request.path == '/' && "active" %>">
              <a href="/">Home</a>
            </li>
            <li class="<%= @request.path == '/about' && "active" %>">
              <a href="/about">About</a>
            </li>
            <li class="<%= @request.path == '/pack-hikes' && "active" %>">
              <a href="pack-hikes">Pack Hikes</a>
            </li>
            <li class="<%= @request.path == '/training' && "active" %>">
              <!-- <li class="has-dropdown"> for extra pages -->
              <a href="/training">Training</a>
            </li>
            <li class="<%= @request.path == '/pet-care' && "active" %>">
              <!-- <li class="has-dropdown"> for extra pages -->
              <a href="/pet-care">Pet Care</a>
            </li>
            <li class="<%= @request.path == '/gallery' && "active" %>">
              <a href="/gallery">Gallery</a>
            </li>
            <li class="<%= @request.path == '/trainer-space' && "active" %>">
              <a href="/trainer-space">Rent the Training Space</a>
            </li>
            <li class="<%= @request.path == '/contact' && "active" %>">
              <a href="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <!--end of module group-->
    </div>
  </nav>
</div>
